@supports (display: grid) {
    
    .gridwrapper {
        height: 100vh;
        width: 100%;
        display: grid;
        grid-gap: 1px;
        grid-template-columns: 2fr 2fr 1fr;
        grid-template-rows: 10rem 2.75rem 2.75rem 10rem auto 2.75rem;
        grid-template-areas: "header header header" "nav nav nav" "foco foco links"
    "ulitmas agenda links" "footer footer footer";   
    }
    
    
    body {
        background-color: steelblue;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        
    }
    
    
    .gridItems {
        background-color: steelblue;
        float: left;
    }
    
    header {
        grid-column-end: 1 / span 3;
        grid-row: 1 / 4;
        width: 100%;
        height: unset;
        grid-area: header;
        background-image: url('http://www.uma.pt/portal/imagens/UMaBanner25.jpg');
        background-size: cover;
    }
    nav {
        grid-area: nav;
        display: grid;
        grid-auto-flow: column;
        align-content: space-evenly;
        width: 100%;
        height: 2.75rem;
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        background-color: black;
        padding: 0 0.75rem 0 0.75rem; 
    }
    
    .LastItem {
        margin-left: auto;
    }
    
    nav .LastItem {
        float: right;
    
    }
    
    .foco {
        grid-area: foco;
        width: 100%;
        height: 10rem;
        border: 1px white solid;
        grid-column: 1 / 3;
        grid-row: 4 / 5;
       
    }
    .ultimas {
        grid-area: ultimas;
        width: 100%; 
        grid-column: 1 / 2;
        grid-row: 5 / 6;
        border: 1px white solid;
    }
    
    .agenda {
        grid-area: agenda;
        width: 100%;
        grid-column: 2 / 3;
        grid-row: 5 / 6;
        border: 1px white solid;
    }
    
    .links {
        grid-area: links;
        width: 100%; 
        grid-column: 3 / 4;
        grid-row: 4 / 6;
        border: 1px white solid;
    }
    
    footer {
        grid-area: footer;
        display: grid;
        grid-auto-flow: column;
        align-content: space-between;
        position: static;
        bottom: 0;
        left: 0;
        height: 2.75rem;
        width: 100%;
        grid-column: 1 / 3;
        grid-row: 6 / 7; 
    }
    
    footer p {
        display: inline-block;
    }
    
    }
    
    
    
    /* 
    grid-area: header;
    width: 100%;
    height: unset; */